* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#clockContainer {
    position: relative;
    height: 40vw;
    width: 40vw;
    max-height: 400px;
    max-width: 400px;
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
    border: 2px solid black;
    border-radius: 50%;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom; 
    left: 50%;
    bottom: 50%;
}

#hour {
    width: 1.5%;
    height: 25%;
    transform: translateX(-50%);
}

#minute {
    width: 1%;
    height: 35%;
    opacity: 0.8;
    transform: translateX(-50%);
}

#second {
    width: 0.5%;
    height: 40%;
    opacity: 0.8;
    background: red; 
    transform: translateX(-50%);
}

#center {
    position: absolute;
    width: 3%;
    height: 3%;
    background: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; 
}